# Accessing Databases using Python Script
---

Using databases is an important and useful method of sharing information. To preserve repeated storage of the same files containing the required data, it is a good practice to save the said data on a database on a server and access the required subset of information using database management systems.

In this lab, you'll learn how to create a database, load data from a CSV file as a table, and then run queries on the data using Python.

# Objectives
---

In this lab you'll learn how to:

1. Create a database using Python
2. Load the data from a CSV file as a table to the database
3. Run basic "queries" on the database to access the information

# Scenario
---

Consider a dataset of employee records that is available with an HR team in a CSV file. As a Data Engineer, you are required to create the database called `STAFF` and load the contents of the CSV file as a table called `INSTRUCTORS`. The headers of the available data are:

Header | Description
--- | ---
ID | Employee ID
FNAME | First Name
LNAME | Last Name
CITY | City of residence
CCODE | Country code (2 letters)

# Database initiation
---

Let us first create a database using Python.

Open `db_code.py` and import the `sqlite3` library using the below mentioned command.

Import the `pandas` library in `db_code.py` using the following code.

Now, you can use SQLite3 to create and connect your process to a new database `STAFF` using the following statements.

In [20]:
import sqlite3
import pandas as pd

BASE_PATH = '../week-01/material/'

db = BASE_PATH + 'STAFF.db'
file_path = BASE_PATH + 'INSTRUCTOR.csv'

In [21]:
conn = sqlite3.connect(database=db)

# Create and Load the table
---

To create a table in the database, you first need to have the attributes of the required table. Attributes are columns of the table. Along with their names, the knowledge of their data types are also required. The attributes for the required tables in this lab were shared in the Lab Scenario.

Add the following statements to `db_code.py` to feed the required table name and attribute details for the table.

In [22]:
table_name = 'INSTRUCTOR'
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']

## Reading the CSV file
---

Now, to read the CSV using Pandas, you use the `read_csv()` function. Since this CSV does not contain headers, you can use the keys of the `attribute_dict` dictionary as a list to assign headers to the data. For this, add the commands below to `db_code.py`.

In [23]:
df = pd.read_csv(file_path, names = attribute_list)

## Loading the data to a table
---

The `pandas` library provides easy loading of its dataframes directly to the database. For this, you may use the `to_sql()` method of the `dataframe` object.

However, while you load the data for creating the table, you need to be careful if a table with the same name already exists in the database. If so, and it isn't required anymore, the tables should be replaced with the one you are loading here. You may also need to append some information to an existing table. For this purpose, `to_sql()` function uses the argument `if_exists`. The possible usage of `if_exists` is tabulated below.

Argument usage | Description
--- | ---
`if_exists = 'fail'` | Default. The command doesn't work if a table with the same name exists in the database.
`if_exists = 'replace'` | The command replaces the existing table in the database with the same name.
`if_exists = 'append'` | The command appends the new data to the existing table with the same name.

As you need to create a fresh table upon execution, add the following commands to the code. The print command is optional, but helps identify the completion of the steps of code until this point.

In [24]:
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

Table is ready

# Running basic queries on data
---

Now that the data is uploaded to the table in the database, anyone with access to the database can retrieve this data by executing SQL queries.

Some basic SQL queries to test this data are `SELECT` queries for viewing data, and `COUNT` query to count the number of entries.

SQL queries can be executed on the data using the `read_sql` function in `pandas`.

Now, run the following tasks for data retrieval on the created database.

1. Viewing all the data in the table.

Add the following lines of code to `db_code.py`

In [25]:
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)

print(query_statement)
print(query_output)

SELECT * FROM INSTRUCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN

2. Viewing only FNAME column of data.

Add the following lines of code to `db_code.py`

In [26]:
query_statement = f"SELECT FNAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)

print(query_statement)
print(query_output)

SELECT FNAME FROM INSTRUCTOR
      FNAME
0       Rav
1      Raul
2      Hima
3      John
4     Alice
5     Steve
6   Santosh
7     Ahmed
8     Nancy
9      Mary
10  Bharath
11   Andrea
12      Ann
13     Amit

3. Viewing the total number of entries in the table.

Add the following lines of code to `db_code.py`

In [27]:
query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)

print(query_statement)
print(query_output)

SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        14

Now try appending some data to the table. Consider the following.

1. Assume the `ID` is `100`.
2. Assume the first name, `FNAME`, is `John`.
3. Assume the last name as `LNAME`, `Doe`.
4. Assume the city of residence, `CITY` is `Paris`.
5. Assume the country code, `CCODE` is `FR`.

Use the following statements to create the dataframe of the new data.

In [28]:
data_dict = {'ID' : [100],
            'FNAME' : ['John'],
            'LNAME' : ['Doe'],
            'CITY' : ['Paris'],
            'CCODE' : ['FR']}
data_append = pd.DataFrame(data_dict)

Now use the following statement to append the data to the `INSTRUCTOR` table.

In [29]:
data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
print('Data appended successfully')

Data appended successfully

Now, repeat the `COUNT` query. You will observe an increase by 1 in the output of the first `COUNT` query and the second one.

Before proceeding with the final execution, you need to add the command to close the connection to the database after all the queries are executed.

Add the following line at the end of `db_code.py` to close the connection to the database.

In [30]:
conn.close()

# Practice Problems
---

Try the following practice problems to test your understanding of the lab. Please note that the solutions for the following are not shared, and the learners are encouraged to use the discussion forums in case they need help.

1. In the same database STAFF, create another table called Departments. The attributes of the table are as shown below.

Header | Description
--- | ---
DEPT_ID | Department ID
DEP_NAME | Department Name
MANAGER_ID | Manager ID
LOC_ID | Location ID

2. Populate the `Departments` table with the data available in the CSV file which can be downloaded from the link below using `wget`.

    => Link: [click here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/Departments.csv)

3. Append the `Departments` table with the following information.

Attribute | Value
--- | ---
DEPT_ID | 9
DEP_NAME | Quality Assurance
MANAGER_ID | 30010
LOC_ID | L0010

5. Run the following queries on the `Departments` Table:
    - View all entries
    - View only the department names
    - Count the total entries

In [7]:
import sqlite3
import pandas as pd

BASE_PATH = '../week-01/material/'

db = BASE_PATH + 'STAFF_SOLUTION.db'
file_path = BASE_PATH + 'DEPARTMENTS.csv'

In [2]:
conn = sqlite3.connect(database=db)

In [4]:
table_name = 'DEPARTMENT'
attribute_list = ['DEPT_ID', 
                  'DEP_NAME', 
                  'MANAGER_ID',
                  'LOC_ID']

In [9]:
df = pd.read_csv(file_path, names = attribute_list)

In [10]:
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

Table is ready

In [12]:
add_data = {
    'DEPT_ID' : [9],
    'DEP_NAME' : ['Quality Assurance'],
    'MANAGER_ID' : [30010],
    'LOC_ID' : ['L0010'],
}

data_append = pd.DataFrame(add_data)

In [13]:
data_append.to_sql(
    table_name, 
    conn, 
    if_exists = 'append', 
    index =False
)
print('Data appended successfully')

Data appended successfully

In [14]:
conn.close()